* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }

section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color:var(--container-bg);
  border-radius: 28px;
}

.all_button{
  border-radius: 28px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4,66px);
  background-color:var(--container-bg);
}

.display{
  
  grid-column: span 4;
  height: 68px;
  width: 258px;
  background: linear-gradient(145deg, #fdffff, #d4d8db);
  box-shadow:  7px 7px 20px #4b6d75,
               -7px -7px 20px #8dcfdf;
  border: none;
  border-radius: 32px;
  color: rgb(26,25,25);
  text-align: end;
  margin: 40px 0px 30px 0px;
  padding:  20px;
  font-size: 20px;
  margin-left: 20px;
}


.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.3;
}

.button{
  border-radius: 46px;
  background: linear-gradient(145deg, #618e99, #74a9b6);
  box-shadow:  7px 7px 20px #4b6d75,
               -7px -7px 20px #8dcfdf;
  border: none;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  box-shadow: inset 7px 7px 20px #4b6d75,
            inset -7px -7px 20px #8dcfdf;
}