:root{
    --container-color:black;
    --button-color: rgb(29, 25, 25);
    --text-color: white;
    --text-color2: rgb(248, 239, 239);
    --button-operatorcolor:rgb(8, 8, 253);
    
}

*{
    box-sizing: border-box;
  
}

body, html {
    overflow: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}

.calc-container{
    background-color: var(--container-color);
    height: 38rem;
    width: 31rem;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    overflow-x: hidden;
    border: 5px solid rgb(47, 44, 44);
}



    


.calc-output{
    flex: 0.02;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 30px;
    background: #e9e7e7;

}

.button-output{
    height:3rem;
    color: rgb(18 22 108);
    text-align: right;
    font-size: 2rem;
    margin: 5px;
    margin-bottom: 15px;
   
}

.calc-result-output{
  
    height: 2rem;
    margin-bottom: 25px;
    color: rgb(18 22 108);
    text-align: right;
    font-size: 3.2rem;
    margin-right: 5px;
    font-weight: bold;


}

.button-container{
    flex:2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    

}

.btn{
    background-color: var(--button-color);
    color: var(--text-color2);
    font-size: 2.5rem;
    border:2px solid coral;
    border-radius: 15px;
    cursor:pointer;
}

.btn > .rcircle {
    position:absolute;
    background:blue;
    border-radius: 50%;
   animation: ripples 0.5s linear 1;
}

@keyframes ripples {
    0%{
        height:0px;
        width:0px;
        opacity:0.5;
    
    }
    100%{
        height:100px;
        width:100px;
        opacity:0;
    }
}


.btn.operator.equal {
    grid-row:span 2;
    display: flex;
    justify-content: center;

   
}

.btn.operator.equal > button{
    color:var(--text-color2);
    background-color:green;
    width:78%;
    height: 90%;
    border-radius: 10%;
    border:none;
    font-size: 3rem;
    z-index: 3000;
    cursor:pointer;
    margin-top: 5%;
}

.btn.operator {
    color:var(--button-operatorcolor);
    cursor: pointer;
    
}

.btn.operator >span{
    font-size: 1rem;
    pointer-events: none;
}

.btn.operator >span {
    /* border:1px solid var(--button-operatorcolor); */
     border-radius: 50%;
     padding: 1px;
     font-size: 30px;
}

@media (max-width:700px) {
    body{
        display: block;
        height:100vh;
        width: 100vw;
    
    }
    
.calc-container{
    width:90vw;
    height: 90vh;
}
}
